<!DOCTYPE html>

<html>

	<body>
		<div class="container" data-th-fragment="header">
			<div class="navbar navbar-default navbar-header-logo navbar-header-color">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand img-logo" data-th-href="@{/}" >
						<img class="img-responsive" data-th-src="@{/img/logo.png}"  alt="logo"/>
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right menuPreferences">
						<li class="dropdown"><a href="#" class="dropdown-toggle nombre-usuario" data-toggle="dropdown">&nbsp;Víctor Saavedra (Govern eGOS)<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="preferenciesEdicio.html"><span class="fa fa-user"></span> Preferències</a></li>
								<li role="presentation" class="divider"></li>
								<li><a href="#">Sortir</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	
</html>
