<!DOCTYPE html>

<html data-layout-decorator="layout">

<head>
	<title>Sistema per a la gestió de la identitat</title>
</head>

<body>
	<div class="container" data-layout-fragment="content">
			<div class="jumbotron">
				<div class="container">
					<h2>Benvingut al Sistema de Gestió de la Identitat</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
						ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
						velit esse cillum dolore eu fugiat nulla pariatur</p>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Notícies</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing...</li>
								<li>Ut enim ad minim veniam, quis nostrud exercitation...</li>
								<li>Duis aute irure dolor in reprehenderit in voluptate...</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Actualitat</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing...</li>
								<li>Ut enim ad minim veniam, quis nostrud exercitation...</li>
								<li>Duis aute irure dolor in reprehenderit in voluptate...</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</div>
	
</body>

	

</html>